[submodule "FW_Gripper_Teensy"]
	path = FW_Gripper_Teensy
	url = https://github.com/NORGREN-AUTOMATION/FW_Gripper_Teensy.git
	branch = main
[submodule "SO_GripperAPI"]
	path = SO_GripperAPI
	url = https://github.com/NORGREN-AUTOMATION/SO_GripperAPI.git
	branch = main
[submodule "SVC_GripperClient"]
	path = SVC_GripperClient
	url = https://github.com/NORGREN-AUTOMATION/SVC_GripperClient.git
	branch = main
